<div
  class="fixed inset-0 bg-gray-400/20 flex justify-center items-center z-50"
  (click)="cancel.emit()"
>
  <div
    class="bg-gray-800 p-[24px] rounded-lg min-w-[320px] max-w-[500px] shadow-2xl"
    (click)="$event.stopPropagation()"
  >
    <div class="grid grid-cols-4 gap-[8px]">
      <div class="col-span-1 flex justify-center items-center">
        <div class="rounded-full bg-red-500/20 p-2">
          <svg
            width="2.5em"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            data-slot="icon"
            aria-hidden="true"
            class="text-red-400"
          >
            <path
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="col-span-3">
        <h3 id="dialog-title" class="text-base font-semibold text-white">{{ title() }}</h3>
        <div class="mt-2">
          <p class="text-sm text-gray-400">
            {{ message() }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-full flex justify-end gap-4 mt-4">
      <button type="button" class="btn btn-neutral hover:bg-gray-600" (click)="cancel.emit()">
        Cancelar
      </button>
      <button type="button" class="btn btn-error hover:bg-red-600" (click)="confirm.emit()">
        Confirmar
      </button>
    </div>
  </div>
</div>
